@font-face {
   font-family: 'arellion.regular';
   font-display: swap;
   src: url('file:///C:/Users/DEFCON/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-27_001756/fonts/arellion.regular/font.otf');
}
